<!DOCTYPE html>
<html>
  <head>
    <title>Habalex BookMark Manager - Bookmark View</title>
  </head>
  <body>
    <h1>Bookmark List</h1>
    <table>
      <tr>
        <th>URL</th>
      </tr>
      <% @bookmarks.each do |bookmark| %>
        <tr>
          <td><a href='<%= bookmark.url %>'><%= bookmark.title %></a></td>
        </tr>
      <% end %>

    </table>
    <form action = "/add_bookmark" method = "get" >
     <input type= "submit" value = "Add bookmark"></input>
    </form>
  </body>


</html>
