<!DOCTYPE html>
<html>
  <head>
    <title>Habalex BookMark Manager - Bookmark View</title>
  </head>
  <body>
    <h1>Bookmark List</h1>
    <table>
      <tr>
        <th>URL</th>
      </tr>
      <% @bookmarks.each do |url| %>
        <tr>
          <td><a href='<%= url %>'><%= url %></a></td>
        </tr>
      <% end %>
    </table>
  </body>
</html>
