<!DOCTYPE html>
<html>
  <head>
    <title>Habalex BookMark Manager - Bookmark View</title>
  </head>
  <body>
    <h1>Bookmark List</h1>

    <h2>URL</h2>

        <ul>
      <% @bookmarks.each do |bookmark| %>
          <li class = "bookmark" id = "bookmark-<%bookmark.id%>" >
            <a href='<%= bookmark.url %>'><%= bookmark.title %></a> <br>
            <form action = "/bookmarks/<%= bookmark.id %>" method = "get" >
            <input type = "submit" value = "Delete"></input>
            </form>
      <% end %> <br>


    <br><br><br>
    <form action = "/add_bookmark" method="get">
     <input type= "submit" value = "Add bookmark"></input>
    </form>
  </body>


</html>
