<!DOCTYPE html>
<html>
  <head>
    <title>Habalex BookMark Manager</title>
  </head>
  <body>
    <div class="welcome">
      <h1>Welcome to Habalex BookMark Manager</h1>
    </div>

    <div class="prompt">
      <p>Click below to access your bookmarks</p>
    </div>

    <form action='/bookmarks'>
      <button type="submit">View Bookmarks</button>
    </form>
  </body>
</html>
